<!DOCTYPE html>

<html>
	<head>
        <meta charset="utf-8" />
		<title>Machine Teaching User Study</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <link rel="icon" href="/static/favicon.ico" />
	</head>
	<body>
		<div id="container-not-an-ad" class="media">
			<div class="media-left pull-left" href="#">
						<!-- REPLACE THE LOGO HERE WITH YOUR  UNIVERSITY, LAB, or COMPANY -->
						<img id="adlogo" src="/static/img/university.png" alt="Lab Logo" />
			</div>
			<div class="media-body">
						<h1>Study complete!</h1>
						<hr />
					    <div class="alert alert-warning">
                            Thank you for your participation. Your responses have now been saved. <br> Please enter your code into Prolific to receive compensation.
					    </div>
			</div>
		</div>
	</body>
</html>
