<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">
        <h3>
            Demonstrations
        </h3>
        <p>In this section, you will play a simple Lunar Lander game.</p>
        <p> The goal is to guide the Lunar Lander to <b>land upright between the goal flags</b>. <br> Any contact with the surface of the planet will end the game. </p>

        <p>There are four actions you can take at any time: 
        <ul>
          <li>Rotate Left (Left Arrow Key)</li>
          <li>Rotate Right (Right Arrow Key)</li>
          <li>Use Thrusters (Up Arrow Key)</li>
          <li>Do Nothing (Gravity will act on the lander)</li>
        </ul>
        Your goal will be to demonstrate as successful a trajectory as possible, such as the one below.</p>
        <video width="400" height="400" controls>
          <source src="static/img/instructions/practice_good.mp4" type="video/mp4">
        </video>
        <p>On the next page, you will have the opportunity to practice giving a demonstration.</p>
	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
<!--                 <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button> -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>