<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">
        <h3>
            Demonstrations
        </h3>
<!--         <p>In this section, you will assign one of four labels to a given image, as shown below.</p>
        <img src="/static/img/instructions/1_B.png"> -->
        <p>In this section, you will write a one word descriptor of an image, as shown below. </p>
        <img src="/static/img/instructions/1_B_textbox.png">
        <p>On the next page, you will have the opportunity to practice.</p>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
<!--                 <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button> -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>