<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">
        <h3>
            Ranking
        </h3>
        <p> In this section, you will be shown two potential captions for a given image. </p>
        <p> Each caption will appear as a button, as in the image below.</p>
        <img src="/static/img/instructions/2_B.png">


        <p>Select the caption which you believe better describes the image.</p>

        <p>On the next page, you will have the opportunity to practice.</p>
	</div>

	<hr />


 
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
<!--                 <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button> -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>