<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">
        <h3>
            Rating
        </h3>
         <p>In this section, you will be shown one video of a Lunar Lander trajectory. </p>
         <p> Below the video, there will be both a thumbs up and a thumbs down button, as in the image below.</p>
         <img src="/static/img/instructions/3_A.png">

         <p> Use the video controls to watch the trajectory. Then, if you believe the proposed trajectory is a good one (we want to land upright within the goal flags as efficiently as possible), select ‘thumbs up’. Otherwise, select ‘thumbs down’. </p>
         <p> You will have the opportunity to practice on the next page.</p>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
<!--                 <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button> -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>