<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">
        <h3>
            Critique
        </h3>
         <p>In this section, you will be shown one video of a Lunar Lander trajectory. </p>
         <p> Below the video, there will be a double-ended slider, as shown below.</p>
         <img src="/static/img/instructions/4_A.png">

         <p> Use the video controls to watch the trajectory. Then, drag the two ends of the slider to the start and end time in the video where you believe the Lunar Lander performed best. You can always replay the trajectory within your selected interval using the video controls. Do not select the entire video. </p>
         <p> You will have the opportunity to practice on the next page.</p>


	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
<!--                 <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button> -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>