<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">
        <h3>
            Critique
        </h3>
         <p>In this section, you will be shown one image and a proposed caption for it. </p>
         <p>The image will be presented as a 9 x 9 grid, as shown in the screen capture below.</p>
         <img src="/static/img/instructions/4_B.png">

         <p> Select the set of images in the grid that represent the portion of the image that best explains the proposed caption. </p>
         <p> You will have the opportunity to practice on the next page.</p>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
<!--                 <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button> -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>