<div id="container-instructions">

	<h2>Overview</h2>

	<hr />

	<div class="instructions well">
        <h3>Chip, the blue triangle, has learned to maximize his score in the three games below!</h3> <br>
                <img src = 'static/img/augmented_taxi.png' width=auto height="200"/>

        <img src = 'static/img/two_goal.png' width=auto height="200" hspace="20" vspace="20"/>
        <img src = 'static/img/skateboard.png' width=auto height="200"/> <br>

        <br>

        <p>For each game, <b>Chip will demonstrate the optimal strategy through a series of videos</b> and <b>you will be asked a few questions</b> regarding those demonstrations.</p>
        <p> Following the videos, you will have the chance to <b>play the game yourself using your keyboard</b>.<p>
            <p> We will introduce each game as we encounter them. But before we dive in, let's head over to a practice game first to get familiar with the keyboard controls and how the games work.
        </p>
	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>

<script>
</script>