<div id="container-instructions">

	<h1>Instructions: Overview</h1>

	<hr />

	<div class="instructions well">
        <p> Each question you will be answering consists of three parts: </p>
                <img src = 'static/img/instructions/confidence.png'/> <br>
        <h3> Confidence Assessment </h3>
            <p>Every time you answer one of the described questions, you will also be asked to fill out the following scale: <br>
            <img src = 'static/img/instructions/confInstructions.png'/> <br>
	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>

<script>
</script>