<div id="container-instructions">

	<h1>Instructions: Overview</h1>

	<hr />

	<div class="instructions well">
        <p> Each question you will be answering consists of three parts: </p>
                <img src = 'static/img/instructions/secondary.png'/> <br>
        <h3> Secondary Task </h3>
            <p>Above each primary question, there will be a color changing circle. </p>
            <br><img src = 'static/vid/secondary_task/circle_pngs/pink_circle.png'/> <br>
            <p>Press and release ‘1’ key when you notice that this circle has turned pink. <br>This should <b>not</b> be your main focus.<br>It is most important that you complete the primary task efficiently and correctly.</p>

        <p> On the next page, we will ask you to practice responding to the color-changing circle. 

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>

<script>
</script>