<div id="container-instructions">

	<h1>Tutorial: Putting it all Together</h1>

	<hr />

	<div class="instructions well">
        <p>We’ve now reviewed all four interaction types which you will experience. Here is some additional important information.</p>
        <p>Every time you answer one of the described questions, you will also be asked to fill out the following <b>confidence scale</b>: <br>
        <img src = 'static/img/instructions/confInstructions.png'/> <br>

        <p>We will also ask you to perform a <b>secondary task</b>. Above each question you are asked to answer, there will be a color changing circle. Simply press the ‘Q’ key when you notice that this circle has turned blue (do not keep the ‘Q’ key held down: such data will not be recorded). </p>

        <p>Thus, an example of a question page including the confidence scale and secondary task might look like: <br>

        <img src = 'static/img/instructions/example_full.png'/>
        <p> On the next page, we will ask you to practice responding to the color-changing circle. <!-- <br>The circle will become blue three times. Please press ‘Q’ once each time.</p> -->
	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>

<script>
</script>